/* Header */
.header-container {
  margin-top: 1rem;
  background-color: lightgrey;
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  align-items: center;
}
.header-container img {
  width: 100px;
}
.header-container h1 {
  margin-left: 2rem;
  text-align: center;
}
